---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: false

---

{% comment %}
  1. 获取所有出版物.
  2. 使用 'group_by_exp' 过滤器按年份分组.
     - 'item.date | date: "%Y"' 会提取出每个出版物日期的年份部分.
{% endcomment %}
{% assign sorted_publications = site.publications | sort: 'date' | reverse %}

{% assign publications_by_year = sorted_publications | group_by_exp: "item", "item.date | date: '%Y'" %}

{% comment %}
  现在我们有了一个按年份分组的列表，开始循环遍历每一年.
{% endcomment %}
{% for year_group in publications_by_year %}

  {% comment %}
    以 H2 标题的形式显示年份. year_group.name 就是我们分组依据的值 (例如 "2025").
  {% endcomment %}
  <h2 id="{{ year_group.name }}" class="archive__subtitle">{{ year_group.name }}</h2>

  {% comment %}
    在当前年份的分组下，循环遍历该年份的所有出版物.
    'year_group.items' 是一个包含了该年份所有出版物对象的列表.
  {% endcomment %}
  {% for post in year_group.items %}
    {% comment %}
      使用模板默认的 'archive-single.html' 来显示每一篇出版物的摘要.
      这个 include 文件会读取 post 的各种属性 (title, excerpt, paperurl 等).
    {% endcomment %}
    {% include archive-single.html %}
  {% endfor %}

{% endfor %}