{% include base_path %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <!-- 网站标题链接 -->
          <li class="masthead__menu-item masthead__menu-item--lg persist">
            <!-- <a href="{{ base_path }}/">{{ site.title }}</a> -->
          </li>
          
          <!-- 根据语言选择正确的导航数据 -->
          {% if page.url contains '/en/' %}
            {% assign nav_data = site.data.navigation_en %}
          {% else %}
            {% assign nav_data = site.data.navigation %}
          {% endif %}
          
          <!-- 遍历导航链接 -->
          {% for link in nav_data.main %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
            {% else %}
              {% assign domain = base_path %}
            {% endif %}
            <li class="masthead__menu-item">
              <a href="{{ domain }}{{ link.url }}">{{ link.title }}</a>
            </li>
          {% endfor %}

          <!-- 语言切换按钮 -->
          <li class="masthead__menu-item">
            {% if page.url contains '/en/' %}
              <!-- 如果是英文页面，则生成中文链接 -->
              {% assign switch_lang_url = page.url | remove_first: '/en' %}
              <a href="{{ switch_lang_url | relative_url }}" title="切换到中文">Chinese</a>
            {% else %}
              <!-- 如果是中文页面，则生成英文链接 -->
              {% assign switch_lang_url = page.url | prepend: '/en' %}
              <a href="{{ switch_lang_url | relative_url }}" title="Switch to English">英文</a>
            {% endif %}
          </li>
          
          <!-- 主题切换按钮 -->
          <li id="theme-toggle" class="masthead__menu-item persist tail" style="margin: 3px;">
            <a role="button" aria-labelledby="theme-icon" style="margin-left: 30px;">
              <i id="theme-icon" class="fa-solid fa-sun" aria-hidden="true" title="toggle theme" style="margin-top: 5px;"></i>
                  <span id="theme-text" style="margin-left: 10px;">Light</span>

            </a>
          </li>
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>
